<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Application</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="container-fluid">
          <center>
            <h1>Todo Application</h1>
          </center>
        </div>
      </nav>
    </header>
    <div>{% block todo_container %} {% endblock %}</div>
  </body>
</html>
